{max-width: 100%;
}
.first{
text-align: left;
font-weight: 600;
justify-content: right;
}

.description{
float: center;
text-align: center;
max-width: 100%;
font-weight:600;
}

button{
background: #e4ebf7;
color: blue;
border-radius: 5px;
font-size: 22px;
float: right;
margin: 10px;
padding:5px;
justify-content: space-evenly;
align-items: center;
}

input[type="submit" i] {
background-color: CornflowerBlue;
color: white;
border-radius: 5px;
font-size: 22px;
float: center;
margin: 10px;
padding:5px;
justify-content: space-evenly;
}

body{
maxwidth: 100%;
justify-content: center;
}

h1{
text-align: center;
color: #6d89b3;
}
h2{
text-align: center;
}
h3{
text-align: center;
}
h4{
text-align: center;
}
p{
text-align: center;
}
h5{
text-align: center;
margin-left: 14px;
font-size: 26px;
}
.social{
float:center;
text-align: center;
margin-right: 20px;
}
form{
text-align: center;
font-size: 20px;
}
a{
font-size: 18px;
}


.topnav {
  background-color: #0029FF;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #0029FF;
  color: white;
}

.button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  justify-content: space-evenly;
  float: right;
}

.button[type="submit"] {
  display: inline-block;
  font-size: 1rem;
  background: #FFEFBA;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  transition: background 0.25s, color 0.25s;
}

.button[type="submit"]:hover {
  color: #ffffff;
  background: #5D26C1;
}
